.navbar-nav{
    margin-left: auto;
}
.navbar{
    padding: 20px;
}
.navbar-brand{
    background-color: teal;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    box-shadow: 5px 7px #888888;
}

.container{
     margin-top: 50px;
     width: 700px;
     height: 640px;
     margin-left: 50px;
     background-color: white;
     padding: 50px;
     margin-bottom: 100px;
    }
 
 body{
     background-color: lightgrey;
 }
 
 .btn{
     background-color: teal;
     padding: 30px;
 }
 
 h1{
     color: teal;
     /* text-shadow: 3px 3px white; */
     padding: 10px;
     font-family: cursive;
     font-size: 60px;
     text-decoration: underline teal;
 }

 @media screen and (max-width: 768px){

    .container{
        margin-top: 50px;
        width: 650px;
        height: 640px;
        margin-left: 20px;
        background-color: white;
        padding: 50px;
        margin-bottom: 100px;
       }

 }

 @media screen and (max-width: 400px){
    .container{
        margin-top: 50px;
        width: 370px;
        height: 640px;
        margin-left: 10px;
        background-color: white;
        padding: 50px;
        margin-bottom: 100px;
       }

       h1{
           font-size: 30px;
           padding: 5px;
       }

       .navbar-nav{
        margin-left: auto;
    }
    .navbar{
        padding: 20px;
    }
    .navbar-brand{
        background-color: teal;
        color: whitesmoke;
        font-weight: bold;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        box-shadow: 5px 7px #888888;
    }
 }