.container{
    margin-top: 50px;
     width: 700px;
     height: 740px;
     margin-left: 100px;
     background-color: white;
     padding: 50px;
     margin-bottom: 100px;
 }

 h1{
     color: teal;
     margin-left: 250px;
 }
 
 body{
     background-color: lightgrey;
 }

 .navbar-nav{
    margin-left: auto;
}
.navbar{
    padding: 20px;
}
.navbar-brand{
    background-color: teal;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    box-shadow: 5px 7px #888888;
}